In [3]:
!pip install pyspark
!pip install findspark

Requirement already satisfied: pyspark in c:\users\camil\appdata\local\programs\python\python310\lib\site-packages (3.5.0)
Requirement already satisfied: py4j==0.10.9.7 in c:\users\camil\appdata\local\programs\python\python310\lib\site-packages (from pyspark) (0.10.9.7)
Requirement already satisfied: findspark in c:\users\camil\appdata\local\programs\python\python310\lib\site-packages (2.0.1)

In [1]:
import findspark
findspark.init()

In [2]:
import pyspark

In [3]:
import pandas as pd

In [83]:
df = pd.read_csv("test1.csv")
print(df.info)
print(df.describe()) #This is a cool one dude!!!!!!!

<bound method DataFrame.info of         name  age  risk
0      Pilar   53     1
1  Francisco   60     2
2  Sebastian   28     3
3     Camilo   25     4
4     Camilo   25     5>
             age      risk
count   5.000000  5.000000
mean   38.200000  3.000000
std    16.932218  1.581139
min    25.000000  1.000000
25%    25.000000  2.000000
50%    28.000000  3.000000
75%    53.000000  4.000000
max    60.000000  5.000000

In [4]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('first_app').getOrCreate()

In [5]:
spark

In [137]:
df_pyspark = spark.read.csv('test1.csv')

In [46]:
print(df_pyspark)
# type(df_pyspark)
df.info() # pandas version of schema

DataFrame[_c0: string, _c1: string, _c2: string]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    5 non-null      object
 1   age     5 non-null      int64
 2   risk    5 non-null      int64
dtypes: int64(2), object(1)
memory usage: 248.0+ bytes

print(spark.read.option('header', 'true').csv('test1.csv')) #to make 1st raw the headers
df_pyspark = spark.read.option('header', 'true').csv('test1.csv') #look at the dif types
print(type(df_pyspark))
df_pyspark.printSchema()

## 2nd dive into pyspark

In [55]:
#to have the correct columntype 
df_2 = spark.read.option('header', 'true').csv('test1.csv', inferSchema = True) 
print(spark.read.option('header', 'true').csv('test1.csv')) #check types in schema
df_2.show()

DataFrame[name: string, age: string, risk: string]
+---------+---+----+
|     name|age|risk|
+---------+---+----+
|    Pilar| 53|   1|
|Francisco| 60|   2|
|Sebastian| 28|   3|
|   Camilo| 25|   4|
|   Camilo| 25|   5|
+---------+---+----+

In [64]:
 #Checking the types and the Schema
print(df_2.printSchema())
print(type(df_2))

root
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- risk: integer (nullable = true)

None
<class 'pyspark.sql.dataframe.DataFrame'>

In [66]:
 df_2.head(3)

[Row(name='Pilar', age=53, risk=1),
 Row(name='Francisco', age=60, risk=2),
 Row(name='Sebastian', age=28, risk=3)]

In [67]:
df_2.show()

+---------+---+----+
|     name|age|risk|
+---------+---+----+
|    Pilar| 53|   1|
|Francisco| 60|   2|
|Sebastian| 28|   3|
|   Camilo| 25|   4|
|   Camilo| 25|   5|
+---------+---+----+

In [72]:
# type(df_2.select('name')) #to check the data type on the column (pyspark.sql.dataframe.DataFrame)
df_2.select(['name', 'risk']).show()

+---------+----+
|     name|risk|
+---------+----+
|    Pilar|   1|
|Francisco|   2|
|Sebastian|   3|
|   Camilo|   4|
|   Camilo|   5|
+---------+----+

In [76]:
# With pandas it'll go like this:
df_2['name']

Column<'name'>

In [80]:
df_2.dtypes

[('name', 'string'), ('age', 'int'), ('risk', 'int')]

In [82]:
df_2.describe().show()

+-------+---------+-----------------+------------------+
|summary|     name|              age|              risk|
+-------+---------+-----------------+------------------+
|  count|        5|                5|                 5|
|   mean|     null|             38.2|               3.0|
| stddev|     null|16.93221781102523|1.5811388300841898|
|    min|   Camilo|               25|                 1|
|    max|Sebastian|               60|                 5|
+-------+---------+-----------------+------------------+

In [90]:
print(df_2.withColumn('age after two years', df_2['age']+2))#NOT INPLACE must be assigned
df_2 = df_2.withColumn('age after two years', df_2['age']+2)
df_2.show()

DataFrame[name: string, age: int, risk: int, age after two years: int]
+---------+---+----+-------------------+
|     name|age|risk|age after two years|
+---------+---+----+-------------------+
|    Pilar| 53|   1|                 55|
|Francisco| 60|   2|                 62|
|Sebastian| 28|   3|                 30|
|   Camilo| 25|   4|                 27|
|   Camilo| 25|   5|                 27|
+---------+---+----+-------------------+

In [91]:
df_2 = df_2.drop('age after two years')
df_2.show()

+---------+---+----+
|     name|age|risk|
+---------+---+----+
|    Pilar| 53|   1|
|Francisco| 60|   2|
|Sebastian| 28|   3|
|   Camilo| 25|   4|
|   Camilo| 25|   5|
+---------+---+----+

In [98]:
###Rename the columns
df_2.withColumnRenamed('name', 'Name',).withColumnRenamed("age", "Age").withColumnRenamed("risk", "Risk").show()

+---------+---+----+
|     Name|Age|Risk|
+---------+---+----+
|    Pilar| 53|   1|
|Francisco| 60|   2|
|Sebastian| 28|   3|
|   Camilo| 25|   4|
|   Camilo| 25|   5|
+---------+---+----+

# How to handle missing values in pyspark
### -Dropping cols
### -Dropping rows
### -Handling missing values and statistic parameters (mean, mode and median)

### Avoiding a imputer function to clean up the missing values (Data inputation from pandas)

In [6]:
df_3 = spark.read.csv('test2.csv', header= True, inferSchema= True)
df_3.show()

+---------+----+----+
|     name| age|risk|
+---------+----+----+
|    Pilar|  53|   1|
|Francisco|  60|   2|
|Sebastian|  28|   3|
|   Camilo|  25|   4|
|   Camilo|  25|   5|
|   Daniel|   3|null|
|Valentina|null|   3|
|    David|null|null|
+---------+----+----+

In [120]:
"""
# df_3.na.drop(how="any", thresh=None, subset=None) 
any, all
1,2,3...,n, etc. (the number of null values)
subset= for checking specific columns (["age"], ["name","age"])
"""


df_3.na.drop().show() # To drop all rows with at least 1 null value

+---------+---+----+
|     name|age|risk|
+---------+---+----+
|    Pilar| 53|   1|
|Francisco| 60|   2|
|Sebastian| 28|   3|
|   Camilo| 25|   4|
|   Camilo| 25|   5|
+---------+---+----+

In [114]:
df_3.na.drop(how='any', thresh=2).show()

+---------+---+----+
|     name|age|risk|
+---------+---+----+
|    Pilar| 53|   1|
|Francisco| 60|   2|
|Sebastian| 28|   3|
|   Camilo| 25|   4|
|   Camilo| 25|   5|
|     null|  3|   3|
+---------+---+----+

In [117]:
df_3.na.drop(how='any', subset=["name","risk"]).show()

+---------+---+----+
|     name|age|risk|
+---------+---+----+
|    Pilar| 53|   1|
|Francisco| 60|   2|
|Sebastian| 28|   3|
|   Camilo| 25|   4|
|   Camilo| 25|   5|
+---------+---+----+

In [140]:
df_3.na.fill('Missing Values').show()

+--------------+---+----+
|          name|age|risk|
+--------------+---+----+
|         Pilar| 53|   1|
|     Francisco| 60|   2|
|     Sebastian| 28|   3|
|        Camilo| 25|   4|
|        Camilo| 25|   5|
|Missing Values|  3|null|
|Missing Values|  3|   3|
+--------------+---+----+

In [ ]:
# Por si acaso necesito llenar una fila de null de tipo entero :P


from pyspark.sql.types import StringType
df_3 = df_3.withColumn("risk", df_3["risk"].cast(StringType()))
df_3_filled = df_3.na.fill('Missing Values').show()

# Pyspark inputer function

In [ ]:
from  pyspark.ml.feature import Imputer

imputer = Imputer(
inputCols= ['age', 'risk'],
outputCols=["{}_imputed".format(c) for c in  [ 'age', 'risk']]
).setStrategy("mode")
# mean mode can be used too

In [11]:
#Add imputation cols to df

imputer.fit(df_3).transform(df_3).show()
print(df_3.dtypes)

+---------+----+----+-----------+------------+
|     name| age|risk|age_imputed|risk_imputed|
+---------+----+----+-----------+------------+
|    Pilar|  53|   1|         53|           1|
|Francisco|  60|   2|         60|           2|
|Sebastian|  28|   3|         28|           3|
|   Camilo|  25|   4|         25|           4|
|   Camilo|  25|   5|         25|           5|
|   Daniel|   3|null|          3|           3|
|Valentina|null|   3|         25|           3|
|    David|null|null|         25|           3|
+---------+----+----+-----------+------------+

[('name', 'string'), ('age', 'int'), ('risk', 'int')]

# Pyspark Dataframes

## Filter dataframes

In [19]:
##Salary for people lesser 20000
df_4= spark.read.csv("test1.csv", header = True, inferSchema= True)
df_4 = df_4.withColumn('Salary', df_4['age']*10000)
df_4.show()
df_4.filter('salary <= 260000' ).show()
df_4.filter('salary <= 260000' ).select(['name', 'age']).show()

+---------+---+----+------+
|     name|age|risk|Salary|
+---------+---+----+------+
|    Pilar| 53|   1|530000|
|Francisco| 60|   2|600000|
|Sebastian| 28|   3|280000|
|   Camilo| 25|   4|250000|
|   Camilo| 25|   5|250000|
+---------+---+----+------+

+------+---+----+------+
|  name|age|risk|Salary|
+------+---+----+------+
|Camilo| 25|   4|250000|
|Camilo| 25|   5|250000|
+------+---+----+------+

+------+---+
|  name|age|
+------+---+
|Camilo| 25|
|Camilo| 25|
+------+---+

In [27]:
df_4.filter((df_4['Salary'] <= 300000) &
           (df_4['Salary'] >= 250000)).show()
# Inverse opperator (~)
df_4.filter(~(df_4['Salary'] <= 300000) &
           (df_4['Salary'] >= 250000)).show()

+---------+---+----+------+
|     name|age|risk|Salary|
+---------+---+----+------+
|Sebastian| 28|   3|280000|
|   Camilo| 25|   4|250000|
|   Camilo| 25|   5|250000|
+---------+---+----+------+

+---------+---+----+------+
|     name|age|risk|Salary|
+---------+---+----+------+
|    Pilar| 53|   1|530000|
|Francisco| 60|   2|600000|
+---------+---+----+------+

In [40]:
print(df_4.groupBy('Name').sum())
df_4.groupBy('Name').sum().show() #""" Got confused because bith age, risk and salary are all integers"""

DataFrame[Name: string, sum(age): bigint, sum(risk): bigint, sum(Salary): bigint]
+---------+--------+---------+-----------+
|     Name|sum(age)|sum(risk)|sum(Salary)|
+---------+--------+---------+-----------+
|Sebastian|      28|        3|     280000|
|    Pilar|      53|        1|     530000|
|   Camilo|      50|        9|     500000|
|Francisco|      60|        2|     600000|
+---------+--------+---------+-----------+

In [37]:
df_5 = spark.read.csv("test3.csv", header=True, inferSchema=True)
df_5.show()

+---------+----------------+------+
|     name|        position|Salary|
+---------+----------------+------+
|    Pilar|          Lawyer| 53000|
|Francisco|          Lawyer| 60000|
|Sebastian|      Management| 28000|
|   Camilo|    Data science|250000|
|   Camilo|        frontend| 25000|
|   Daniel|       Marketing|  3000|
|Valentina|        Cleaning| 13000|
|    David|customer service| 10000|
+---------+----------------+------+

In [38]:
df_5.groupBy('name').sum().show() #Encontrar quien tiene el salario mas alto

+---------+-----------+
|     name|sum(Salary)|
+---------+-----------+
|Valentina|      13000|
|Sebastian|      28000|
|   Daniel|       3000|
|    Pilar|      53000|
|   Camilo|     275000|
|    David|      10000|
|Francisco|      60000|
+---------+-----------+

In [49]:
df_5.groupBy('position').sum().show() 
df_5.groupBy('position').mean().show()
df_5.groupBy('position').count().show()
df_5.groupBy('position').max().show() 
df_5.groupBy('position').min().show()

+----------------+-----------+
|        position|sum(Salary)|
+----------------+-----------+
|        frontend|      25000|
|      Management|      28000|
|          Lawyer|     113000|
|    Data science|     250000|
|       Marketing|       3000|
|        Cleaning|      13000|
|customer service|      10000|
+----------------+-----------+

+----------------+-----------+
|        position|avg(Salary)|
+----------------+-----------+
|        frontend|    25000.0|
|      Management|    28000.0|
|          Lawyer|    56500.0|
|    Data science|   250000.0|
|       Marketing|     3000.0|
|        Cleaning|    13000.0|
|customer service|    10000.0|
+----------------+-----------+

+----------------+-----+
|        position|count|
+----------------+-----+
|        frontend|    1|
|      Management|    1|
|          Lawyer|    2|
|    Data science|    1|
|       Marketing|    1|
|        Cleaning|    1|
|customer service|    1|
+----------------+-----+

+----------------+-----------+
|        position|max(Salary)|
+----------------+-----------+
|        frontend|      25000|
|      Management|      28000|
|          Lawyer|      60000|
|    Data science|     250000|
|       Marketing|       3000|
|        Cleaning|      13000|
|customer service|      10000|
+----------------+-----------+

+----------------+-----------+
|        position|min(Salary)|
+----------------+-----------+
|        frontend|      25000|
|      Management|      28000|
|          Lawyer|      53000|
|    Data science|     250000|
|       Marketing|       3000|
|        Cleaning|      13000|
|customer service|      10000|
+----------------+-----------+

# ML intro

In [58]:
training = spark.read.csv("test4.csv", header=True, inferSchema=True)
training.show()
training.printSchema()
training.columns

+---------+---+------+----------+
|     name|age|Salary|experience|
+---------+---+------+----------+
|    Pilar| 53| 53000|        10|
|Francisco| 60| 60000|         3|
|Sebastian| 28| 28000|        20|
|   Camilo| 25|250000|        30|
|   Camilo| 13| 25000|         4|
|   Daniel| 34|  3000|        20|
|Valentina| 50| 13000|        50|
|    David| 39| 10000|         2|
+---------+---+------+----------+

root
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Salary: integer (nullable = true)
 |-- experience: integer (nullable = true)

['name', 'age', 'Salary', 'experience']

In [60]:
from pyspark.ml.feature import VectorAssembler
feature_assembler = VectorAssembler(inputCols=["age", "experience"], outputCol="Independent Features")

In [63]:
output = feature_assembler.transform(training)
output.show()
## Output shows age and experience as a vector

+---------+---+------+----------+--------------------+
|     name|age|Salary|experience|Independent Features|
+---------+---+------+----------+--------------------+
|    Pilar| 53| 53000|        10|         [53.0,10.0]|
|Francisco| 60| 60000|         3|          [60.0,3.0]|
|Sebastian| 28| 28000|        20|         [28.0,20.0]|
|   Camilo| 25|250000|        30|         [25.0,30.0]|
|   Camilo| 13| 25000|         4|          [13.0,4.0]|
|   Daniel| 34|  3000|        20|         [34.0,20.0]|
|Valentina| 50| 13000|        50|         [50.0,50.0]|
|    David| 39| 10000|         2|          [39.0,2.0]|
+---------+---+------+----------+--------------------+

In [64]:
output.columns

['name', 'age', 'Salary', 'experience', 'Independent Features']

In [66]:
finalized_data = output.select("Independent Features", "Salary")
finalized_data.show()

+--------------------+------+
|Independent Features|Salary|
+--------------------+------+
|         [53.0,10.0]| 53000|
|          [60.0,3.0]| 60000|
|         [28.0,20.0]| 28000|
|         [25.0,30.0]|250000|
|          [13.0,4.0]| 25000|
|         [34.0,20.0]|  3000|
|         [50.0,50.0]| 13000|
|          [39.0,2.0]| 10000|
+--------------------+------+

In [74]:
from pyspark.ml.regression import LinearRegression
# Set up train test split
train_data, test_data= finalized_data.randomSplit([0.75, 0.25])
regressor = LinearRegression(featuresCol='Independent Features', labelCol = 'Salary')
regressor = regressor.fit(train_data)

In [76]:
#Coefficients
regressor.coefficients

DenseVector([375.3798, 6096.5242])

In [71]:
#Intercepts
regressor.intercept

-23688.395663072584

In [77]:
##Prediction
pred_result = regressor.evaluate(test_data)
pred_result.predictions.show()

+--------------------+------+------------------+
|Independent Features|Salary|        prediction|
+--------------------+------+------------------+
|         [28.0,20.0]| 28000|117264.14360873653|
|         [50.0,50.0]| 13000|308418.22498797753|
|         [53.0,10.0]| 53000| 65683.39671123934|
+--------------------+------+------------------+

In [79]:
pred_results.meanAbsoluteError,pred_result.meanSquaredError

NameError: name 'pred_results' is not defined