In [3]:
!pip install pyspark
!pip install findspark

Requirement already satisfied: pyspark in c:\users\camil\appdata\local\programs\python\python310\lib\site-packages (3.5.0)
Requirement already satisfied: py4j==0.10.9.7 in c:\users\camil\appdata\local\programs\python\python310\lib\site-packages (from pyspark) (0.10.9.7)
Requirement already satisfied: findspark in c:\users\camil\appdata\local\programs\python\python310\lib\site-packages (2.0.1)

In [1]:
import findspark
findspark.init()

In [2]:
import pyspark

In [3]:
import pandas as pd

In [83]:
df = pd.read_csv("test1.csv")
print(df.info)
print(df.describe()) #This is a cool one dude!!!!!!!

<bound method DataFrame.info of         name  age  risk
0      Pilar   53     1
1  Francisco   60     2
2  Sebastian   28     3
3     Camilo   25     4
4     Camilo   25     5>
             age      risk
count   5.000000  5.000000
mean   38.200000  3.000000
std    16.932218  1.581139
min    25.000000  1.000000
25%    25.000000  2.000000
50%    28.000000  3.000000
75%    53.000000  4.000000
max    60.000000  5.000000

In [53]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('first_app').getOrCreate()

In [54]:
spark

In [45]:
df_pyspark = spark.read.csv('test1.csv')

In [46]:
print(df_pyspark)
# type(df_pyspark)
df.info() # pandas version of schema

DataFrame[_c0: string, _c1: string, _c2: string]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    5 non-null      object
 1   age     5 non-null      int64
 2   risk    5 non-null      int64
dtypes: int64(2), object(1)
memory usage: 248.0+ bytes

print(spark.read.option('header', 'true').csv('test1.csv')) #to make 1st raw the headers
df_pyspark = spark.read.option('header', 'true').csv('test1.csv') #look at the dif types
print(type(df_pyspark))
df_pyspark.printSchema()

## 2nd dive into pyspark

In [55]:
#to have the correct columntype 
df_2 = spark.read.option('header', 'true').csv('test1.csv', inferSchema = True) 
print(spark.read.option('header', 'true').csv('test1.csv')) #check types in schema
df_2.show()

DataFrame[name: string, age: string, risk: string]
+---------+---+----+
|     name|age|risk|
+---------+---+----+
|    Pilar| 53|   1|
|Francisco| 60|   2|
|Sebastian| 28|   3|
|   Camilo| 25|   4|
|   Camilo| 25|   5|
+---------+---+----+

In [64]:
 #Checking the types and the Schema
print(df_2.printSchema())
print(type(df_2))

root
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- risk: integer (nullable = true)

None
<class 'pyspark.sql.dataframe.DataFrame'>

In [66]:
 df_2.head(3)

[Row(name='Pilar', age=53, risk=1),
 Row(name='Francisco', age=60, risk=2),
 Row(name='Sebastian', age=28, risk=3)]

In [67]:
df_2.show()

+---------+---+----+
|     name|age|risk|
+---------+---+----+
|    Pilar| 53|   1|
|Francisco| 60|   2|
|Sebastian| 28|   3|
|   Camilo| 25|   4|
|   Camilo| 25|   5|
+---------+---+----+

In [72]:
# type(df_2.select('name')) #to check the data type on the column (pyspark.sql.dataframe.DataFrame)
df_2.select(['name', 'risk']).show()

+---------+----+
|     name|risk|
+---------+----+
|    Pilar|   1|
|Francisco|   2|
|Sebastian|   3|
|   Camilo|   4|
|   Camilo|   5|
+---------+----+

In [76]:
# With pandas it'll go like this:
df_2['name']

Column<'name'>

In [80]:
df_2.dtypes

[('name', 'string'), ('age', 'int'), ('risk', 'int')]

In [82]:
df_2.describe().show()

+-------+---------+-----------------+------------------+
|summary|     name|              age|              risk|
+-------+---------+-----------------+------------------+
|  count|        5|                5|                 5|
|   mean|     null|             38.2|               3.0|
| stddev|     null|16.93221781102523|1.5811388300841898|
|    min|   Camilo|               25|                 1|
|    max|Sebastian|               60|                 5|
+-------+---------+-----------------+------------------+

In [90]:
print(df_2.withColumn('age after two years', df_2['age']+2))#NOT INPLACE must be assigned
df_2 = df_2.withColumn('age after two years', df_2['age']+2)
df_2.show()

DataFrame[name: string, age: int, risk: int, age after two years: int]
+---------+---+----+-------------------+
|     name|age|risk|age after two years|
+---------+---+----+-------------------+
|    Pilar| 53|   1|                 55|
|Francisco| 60|   2|                 62|
|Sebastian| 28|   3|                 30|
|   Camilo| 25|   4|                 27|
|   Camilo| 25|   5|                 27|
+---------+---+----+-------------------+

In [91]:
df_2 = df_2.drop('age after two years')
df_2.show()

+---------+---+----+
|     name|age|risk|
+---------+---+----+
|    Pilar| 53|   1|
|Francisco| 60|   2|
|Sebastian| 28|   3|
|   Camilo| 25|   4|
|   Camilo| 25|   5|
+---------+---+----+

In [98]:
###Rename the columns
df_2.withColumnRenamed('name', 'Name',).withColumnRenamed("age", "Age").withColumnRenamed("risk", "Risk").show()

+---------+---+----+
|     Name|Age|Risk|
+---------+---+----+
|    Pilar| 53|   1|
|Francisco| 60|   2|
|Sebastian| 28|   3|
|   Camilo| 25|   4|
|   Camilo| 25|   5|
+---------+---+----+

# How to handle missing values in pyspark
### -Dropping cols
### -Dropping rows
### -Handling missing values and statistic parameters (mean, mode and median)

### Avoiding a imputer function to clean up the missing values (Data inputation from pandas)

In [106]:
df_3 = spark.read.csv('test2.csv', header= True, inferSchema= True)
df_3.show()

+---------+---+----+
|     name|age|risk|
+---------+---+----+
|    Pilar| 53|   1|
|Francisco| 60|   2|
|Sebastian| 28|   3|
|   Camilo| 25|   4|
|   Camilo| 25|   5|
|     null|  3|null|
|     null|  3|   3|
+---------+---+----+

In [111]:
"""
# df_3.na.drop(how="any", thresh=None, subset=None) 
any, all
1,2,3...,n, etc. (the number of null values)
subset= for checking specific columns (["age"], ["name","age"])
"""


df_3.na.drop().show() # To drop all rows with at least 1 null value

+---------+---+----+
|     name|age|risk|
+---------+---+----+
|    Pilar| 53|   1|
|Francisco| 60|   2|
|Sebastian| 28|   3|
|   Camilo| 25|   4|
|   Camilo| 25|   5|
+---------+---+----+

In [114]:
df_3.na.drop(how='any', thresh=2).show()

+---------+---+----+
|     name|age|risk|
+---------+---+----+
|    Pilar| 53|   1|
|Francisco| 60|   2|
|Sebastian| 28|   3|
|   Camilo| 25|   4|
|   Camilo| 25|   5|
|     null|  3|   3|
+---------+---+----+

In [117]:
df_3.na.drop(how='any', subset=["name","risk"]).show()

+---------+---+----+
|     name|age|risk|
+---------+---+----+
|    Pilar| 53|   1|
|Francisco| 60|   2|
|Sebastian| 28|   3|
|   Camilo| 25|   4|
|   Camilo| 25|   5|
+---------+---+----+