In [3]:
!pip install pyspark
!pip install findspark

Requirement already satisfied: pyspark in c:\users\camil\appdata\local\programs\python\python310\lib\site-packages (3.5.0)
Requirement already satisfied: py4j==0.10.9.7 in c:\users\camil\appdata\local\programs\python\python310\lib\site-packages (from pyspark) (0.10.9.7)
Requirement already satisfied: findspark in c:\users\camil\appdata\local\programs\python\python310\lib\site-packages (2.0.1)

In [1]:
import findspark
findspark.init()

In [2]:
import pyspark

In [3]:
import pandas as pd

In [43]:
df = pd.read_csv("test1.csv")
df

        name  age
0      Pilar   53
1  Francisco   60
2  Sebastian   28
3     Camilo   25
4     Camilo   25

In [12]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('first_app').getOrCreate()

In [13]:
spark

In [23]:
df_pyspark = spark.read.csv('test1.csv')

In [34]:
print(df_pyspark)
# type(df_pyspark)
df.info() # pandas version of schema

DataFrame[name: string, age: string]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    5 non-null      object
 1   age     5 non-null      int64
dtypes: int64(1), object(1)
memory usage: 208.0+ bytes

print(spark.read.option('header', 'true').csv('test1.csv')) #to make 1st raw the headers
df_pyspark = spark.read.option('header', 'true').csv('test1.csv') #look at the dif types
print(type(df_pyspark))
df_pyspark.printSchema()

## 2nd dive into pyspark

In [42]:
df_2 = spark.read.option('header', 'true').csv('test1.csv')
print(spark.read.option('header', 'true').csv('test1.csv'))
df_2.show()

DataFrame[name: string, age: string]
+---------+---+
|     name|age|
+---------+---+
|    Pilar| 53|
|Francisco| 60|
|Sebastian| 28|
|   Camilo| 25|
|   Camilo| 25|
+---------+---+

In [40]:
df_pyspark.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: string (nullable = true)